# Python files
*.log
*.pot
*.pyc
*.pyo

# Django specific
collected-static/*
media/*
!static/.gitkeep
*.sqlite
*.sqlite-journal
local_settings.py

# IDE specific
*.komodoproject
*.project
*.pydevproject
*.kate-swp
*.sublime-*
*.swp
obj/*
env/*

# Virtual env
.v_env/*

# OS specific
*.DS_Store
nohup.out
.directory

# Coverage
.coverage
htmlcov/*

# Project specific
*.sqlite3


static/cache
