Django==1.8.1
Markdown==2.4
argparse==1.2.1
django-compressor==1.5
dj-database-url==0.3.0
dj-static==0.0.6
django-debug-toolbar==1.0.1
django-toolbelt==0.0.1
docutils==0.11
flake8==2.2.5
gunicorn==19.3.0
newrelic==2.50.0.39
opbeat==2.0.3
pep8==1.5.7
psycopg2==2.6
six==1.5.2
sqlparse==0.1.11
static3==0.5.1
wsgiref==0.1.2
