{% extends "template.html" %}

{% block h1 %} Ajouter un ordre  {% endblock %}

{% block content %}
<div class="order-form-content {% if order.form.errors %}form-errored{% endif %}">
	<div class="content-title">
		<h3 style="background-image: url('{{STATIC_URL }}orders/{{ order.name }}.png')" class="order">
			<span>{{ order.title }}</span>
		</h3>
	</div>
<form class="order-form-container" method="post" action="{% url "website.views.orders.add_order" game_id=game.pk order_type=order.name %}">
	<table>
	{{ order.info }}
	{{ order.form.as_table }}
	<tr class="submit-order">
		<td colspan="2">
			<div class="button-content">
				<div class="cornered-top"></div>
				<input type="submit" value="Envoyer l'ordre" />
				<div class="cornered-bottom"></div>
			</div>
		</td>
	</tr>
	</table>
</form>
</div>
{% endblock content %}
