{% extends "template.html" %}

{% block title %}Comlink{% endblock %}
{% block h1 %}Comlink{% endblock %}

{% block content %}

<table class="prop_table">
<thead>
<tr>
	<th></th>
	<th>Tour</th>
	<th class="large">Titre</th>
</tr>
</thead>
<tbody>
{% for message in messages %}
<tr>
	<td>(<a href="{% url "website.views.data.message" game_id=game.pk message_id=message.pk %}">voir</a>)</td>
	<td>{{ message.turn }}</td>
	<td>{{ message.title }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock content %}
