
{% extends "template.html" %}

{% block title %}{{ corporation.base_corporation.name }}{% endblock %}
{% block h1 %}{{ corporation.base_corporation.name }}{% endblock %}
{% block favicon %}{{ STATIC_URL }}corporations/{{corporation.base_corporation.slug}}.png{% endblock %}

{% block content %}

<ul class="corporation-markets details">
{% for corporation_market in corporation_markets %}
	<li>
		<h3 class="corporation-market {% if corporation_market.bubble_value == -1 %}negative{% elif corporation_market.bubble_value == 1 %}positive{% else %}white{% endif %}">
			<svg role="img" class="svg--medium svg--white" title="{{ corporation_market.market.name|capfirst }}">
				<use xlink:href="/static/img/sprite.svg#{{ corporation_market.market.name|lower }}"></use>
			</svg> 
			<span class="corporation-market-value">{{ corporation_market.value }}</span>
		</h3>

		{% include "logs/corporation_market.html" with events=corporation_market.events %}
	</li>
{% endfor %}
</ul>

<ul class="corporation-players--detail">
{% for player in share_holders %}
	<li class="{% if player.citizenship.corporation_id == corporation.pk %}citizen {% endif %}"><a href="{% url "website.views.data.player" game_id=game.pk player_id=player.pk %}" title="Parts de {{ player.name }}"><img src="/static/img/players/{% cycle '01' '02' '03' %}.png" /><span>{{ player.qty_share }}</span></a></li>
{% endfor %}
</ul>

{% include "logs/corporation.html" with events=logs delta_display=False %}

<div class="content-table">
<table class="corporation-market--table">
<thead>
<td></td>
{% for market in markets %}
	<td> <h3><svg role="img" class="svg--medium svg--white" title="{{ market.name|capfirst }}"><use xlink:href="/static/img/sprite.svg#{{ market.name|lower }}"></use></svg></h3></td>
{% endfor %}
	<td> &Sigma; </td>
	<td> Joueurs </td>
</thead>
<tbody>
{% for entry in summary %}
<tr>
	<td><a href="{% url "website.views.data.corporation" game_id=game.pk corporation_slug=entry.corporation.base_corporation.slug %}" class="corporation-name">{{ entry.corporation.base_corporation.name }}</a></td>
{% for value in entry.assets %}
	<td> {{ value|default_if_none:"-" }}</td>
{% endfor %}
	<td> {{ entry.corporation.assets }}</td>
	<td class="icon--players">{% for holder in entry.holders %} <a href="{% url "website.views.data.player" game_id=game.pk player_id=holder.pk %}" title="Parts de {{ holder.name }}" class="tooltip"><img src="/static/img/players/{% cycle '01' '02' '03' %}.png" width="26" height="26" /></a> {% endfor %}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<a class="doc-link-market" href="{% url "docs.views.corporation" corporation_slug=corporation.base_corporation.slug %}">voir la documentation de la corporation</a>

{% endblock content %}
