{% extends "template.html" %}

{% block title %}Corporation{% endblock %}

{% block content %}
<table>
<thead>
       <tr>
               <th>Nom</th>
               <th>Actif</th>
               <th>DS</th>
               <th>S</th>
               <th>E</th>
               <th>D</th>
       </tr>
</thead>
<tbody>
<tr>
       <td>{{ corporation.base_corporation.name }}</td>
       <td>{{ corporation.assets }}</td>
       <td>{{ corporation.base_corporation.datasteal }}</td>
       <td>{{ corporation.base_corporation.sabotage }}</td>
       <td>{{ corporation.base_corporation.extraction }}</td>
       <td>{{ corporation.base_corporation.detection }}</td>
</tr>
</tbody>
</table>

{% endblock content %}


