{% extends "template.html" %}

{% block title %}Newsfeeds{% endblock %}
{% block h1 %}Newsfeeds{% endblock %}

{% block content %}

{% include "_pager.html" with base_url="website.views.data.newsfeeds" base_title="Consulter les newsfeeds du tour" %}

{% if not newsfeeds %}
	<p>Rien à signaler !<br />
	Vous devriez consulter la <a href="{% url "website.views.data.wallstreet" game_id=game.pk %}">bourse</a>.</p>
{% endif %}

{% regroup newsfeeds by get_category_display as categories %}

{% for category in categories %}
<h3>{{ category.grouper }}</h3>

<ul>
{% for newsfeed in category.list %}
	<li>{{ newsfeed.as_html }}</li>
{% endfor %}
</ul>
{% endfor %}

<h2>À la une</h2>
{% regroup newsfeeds_rp by get_category_display as categories_rp %}

{% for category in categories_rp %}

{% for newsfeed in category.list %}
	<div class="newsfeed" id="newsfeed-{{ newsfeed.pk }}">
		<img src="{{ STATIC_URL }}newsfeeds/{{ newsfeed.subcategory }}.png" alt="{{ newsfeed.subcategory|title}}" class="{{ newsfeed.state }}" />
		{{ newsfeed.as_html }}
	</div>
	{% if not forloop.last %}
	<hr />
	{% endif %}
{% endfor %}
{% endfor %}
{% endblock content %}
