{% extends "template.html" %}

{% block title %}Newsfeeds{% endblock %}
{% block h1 %}Newsfeeds{% endblock %}

{% block content %}
<p class="top">
{% for turn in turns %}
 	{% if current_turn == turn %}
 		{{ turn }}
	{% else %}
		<a href="{% url "website.views.datas.newsfeeds" game_id=game.pk turn=turn %}" title="Consulter les newsfeed du tour #{{ turn }}">{{ turn }}</a>
 	{% endif %}
 	{% if not forloop.last %}
 	&ndash;
 	{% endif %}
{% endfor %}
</p>

{% if not newsfeeds %}
	<p>Rien à signaler {{current_turn}} !</p>
{% endif %}

{% regroup newsfeeds by get_category_display as categories %}

{% for category in categories %}
<h2>{{ category.grouper }}</h2>

<ul>
{% for newsfeed in category.list %}
	<li>{{ newsfeed.as_html }}</li>
{% endfor %}
</ul>
{% endfor %}
{% endblock content %}
