{% extends "template.html" %}

{% block title %}Newsfeeds{% endblock %}
{% block h1 %}Newsfeeds{% endblock %}

{% block content %}

{% include "_pager.html" with base_url="website.views.datas.newsfeeds" base_title="Consulter les newsfeeds du tour" %}

{% if not newsfeeds %}
	<p>Rien à signaler !<br />
	Vous devriez consulter la <a href="{% url "website.views.datas.wallstreet" game_id=game.pk %}">bourse</a>.</p>
{% endif %}

{% regroup newsfeeds by get_category_display as categories %}

{% for category in categories %}
<h2>{{ category.grouper }}</h2>

{% if not category.list.0.subcategory %}
	<ul>
	{% for newsfeed in category.list %}
		<li>{{ newsfeed.as_html }}</li>
	{% endfor %}
	</ul>
{% else %}
	{% for newsfeed in category.list %}
		<div class="newsfeed">
			<img src="{{ STATIC_URL }}newsfeeds/{{ newsfeed.subcategory }}.png" alt="{{ newsfeed.subcategory|title}}" />
			{{ newsfeed.as_html }}
		</div>
		{% if not forloop.last %}
		<hr />
		{% endif %}
	{% endfor %}
{% endif %}
{% endfor %}
{% endblock content %}
