{% extends "template.html" %}

{% block title %}Ordres du tour{% endblock %}
{% block h1 %}Ordres du tour{% endblock %}

{% block content %}

{% if existing_orders|length > 0 %}
<table>
<thead>
	<tr>
		<th></th>
		<th colspan="3">Ordre</th>
		<th>Coût</th>
	</tr>
</thead>
<tfoot>
	<tr>
		<td colspan="4">TOTAL</td>
		<td>{{ existing_orders_cost }}k&nbsp;¥</td>
	</tr>
</tfoot>
<tbody>
{% for order in existing_orders %}
<tr>
	<td><a href="{% url "website.views.orders.delete_order" game_id=game.pk order_id=order.pk %}" title="Supprimer cet ordre">✗</a></td>
	<td><img src="{{STATIC_URL }}orders/{{ order.name }}.png" title="{{ order.name }}"</td>
	{% if order.custom_description|length == 0 %}
	<td colspan="2">{{ order.description }}</td>
	{% else %}
	<td>{{ order.description }}</td>
	<td>{{ order.custom_description }}</td>
	{% endif %}
	<td>{{ order.get_cost }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<h1>Passer un ordre</h1>

<ul>
{% for order in available_orders %}
	<li{% if order.available == False %} class="disabled" title="{{order.reason }}"{% endif %}>
		<img src="{{STATIC_URL }}orders/{{ order.name }}.png" alt="{{ order.title }}" />
		<h2>{{ order.title }}</h2>
	</li>
{% endfor %}
</ul>

{% for order in available_orders %}
	<h3 style="background-image: url('{{STATIC_URL }}orders/{{ order.name }}.png')" class="order">{{ order.title }}</h3>
	{% if order.available != False %}
	<form method="post" action="{% url "website.views.orders.add_order" game_id=game.pk order_type=order.name %}">
		<table>
		{{ order.form.as_table }}
		<tr>
			<td colspan="2">
				<input type="submit" value="Envoyer l'ordre" />
			</td>
		</tr>
		</table>
	</form>
	{% else %}
		{{order.reason }}
	{% endif %}
{% endfor %}
</ul>

{% endblock content %}
