{% extends "template.html" %}
{% block title %}Ordres du tour{% endblock %}
{% block h1 %}Ordres du tour{% endblock %}

{% block content %}

<script type="text/javascript">
// set up a new XMLHttpRequest variable
var request = false;
request = new XMLHttpRequest();
 
if (!request)
	alert("Error initializing XMLHttpRequest!");

function toggle_order_display(id) {
	// Make all other order forms invisible
	reset_order_display();
	var elmt = document.getElementById(id + '123');
	var disp = elmt.style.display
	if (disp == '' || disp == 'none') {
		elmt.style.display = 'block';
	} else {
		elmt.style.display = 'none';
	}
}

function reset_order_display() {
	var orders = document.getElementsByClassName("order-form-content");
	for(i = 0; i < orders.length; i++) {
		orders[i].style.display = 'none';
	}
}

function get_targets(sel) {
	var stealer_corporation = sel.value;
	var url = window.location.href + "/get_targets/" + escape(stealer_corporation);
	request.open("GET", url, true);
	request.onreadystatechange = updatePage;
	request.send(null);
} 
 
function gen_dropdown(sel_id, data) {
	html  = '<ul><li><span>Corporations</span><ul>';
	for (var k in data['corporation']) {
		html += '<li><a href="">' + k + '</a><ul>';
		for (var l in data['corporation'][k]) {
			html += '<li onclick="dropdown_select(\'' + sel_id + '\', ';
			html += data['corporation'][k][l][1] + ');">';
			html += data['corporation'][k][l][0] + '</li>';
		}
		html += '</ul></li>';
	}
	html += '</ul></li></ul>';
//	alert(html);
	return html;
}

// what to do when http ready state changes
function updatePage() { 
	if (request.readyState == 4) {
		if (request.status == 200) {
  
			// get response array
			var data = JSON.parse(request.responseText); 
			var dropdowns = document.getElementsByClassName("dropdown");
			for(i = 0; i < dropdowns.length; i++) {
				sel_id = '';
				for(j = 'dd_'.length; j < dropdowns[i].id.length; j++) {
					sel_id += dropdowns[i].id[j];
				}
				dropdowns[i].innerHTML = gen_dropdown(sel_id, data);
			}
		}
		// some error checking
		else if (request.status == 404) {
			alert("Request url does not exist");
		}
		else {
			alert("Error: status code is " + request.status);
		}
	}
}

function dropdown_select(container_id, value) {
	var containers = document.getElementsByClassName("order-form-container");
//	alert('container_id: ' + container_id);
//	alert('value: ' + value);
	// we should check the length of that list
	var sel_list = document.getElementById(container_id).getElementsByTagName("select");
	var target_CM_sel;
	for(i = 0; i < sel_list.length; i++) {
		if(sel_list[i].name == "target_corporation_market")
		{
			target_CM_sel = sel_list[i];
		}
	}
	target_CM_sel.value = value;
}

function update_dropdown(dropdown, data) {
	dropdown.find('ul').remove();
}

function update_select(select, data) {
	select.find('option').remove();
	select.append('<option value="" selected="selected">---------</option>');
	for (var k in data) {
		select.append($('<option value="' + k + '">' + data[k] + '</option>'));
	}
}
</script>

{% if existing_orders|length > 0 %}
<table class="order-launched">
<thead>
	<tr>
		<th></th>
		<th colspan="3">Ordre</th>
		<th>Coût</th>
	</tr>
</thead>
<tfoot>
	<tr>
		<td class="total-text" colspan="4">TOTAL</td>
		<td class="total-total">{{ existing_orders_cost }}k&nbsp;₵</td>
	</tr>
</tfoot>
<tbody>
{% for order in existing_orders %}
<tr>
	<td class="order-delete"><a href="{% url "website.views.orders.delete_order" game_id=game.pk order_id=order.pk %}" title="Supprimer cet ordre">✗</a></td>
	<td class="order-name"><svg role="img" class="svg--medium svg--white" title="{{ order.title }}"><use xlink:href="/static/img/sprite.svg#{{ order.name }}"></use></svg>
	{% if order.custom_description|length == 0 %}
	<td colspan="2" class="order-description">{{ order.description }}</td>
	{% else %}
	<td class="order-description">{{ order.description }}</td>
	<td class="order-custom">{{ order.custom_description }}</td>
	{% endif %}
	<td class="order-cost">{% if order.get_cost > 0 %}{{ order.get_cost }}k&nbsp;₵{% else %}-{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

<h1 class="main-h1-title">Passer un ordre</h1>

{% for order in available_orders %}
	<div class="order-form-content" id={{ order.name }}123>
		<div class="content-title">
<!--			<h3 style="background-image: url('{{STATIC_URL }}orders/{{ order.name }}.png')" class="order">
-->			<h3 style="background-image: /static/img/sprite.svg#{{ order.name }}" class="order">
				<span>{{ order.title }}</span>
			</h3>
		</div>
	{% if order.available != False %}
	<form class="order-form-container" method="post" action="{% url "website.views.orders.add_order" game_id=game.pk order_type=order.name %}">
		<table>
		<tr class="submit-order">
			{{ order.info }}
		</tr>
		{{ order.form.as_table }}
		<tr class="submit-order" type="hidden">
			<td colspan="2">
				<div class="button-content">
					<div class="cornered-top"></div>
					<input type="submit" value="Envoyer l'ordre" />
					<div class="cornered-bottom"></div>
				</div>
			</td>
		</tr>
		</table>
	</form>
	{% else %}
	<div class="order-form-container">
		{{ order.reason }}
	</div>
	{% endif %}
	</div>
{% endfor %}

<ul class="content-order-list">
{% for order in available_orders %}
	<li{% if order.available == False %} class="disabled" title="{{order.reason }}" {% else %} onclick="toggle_order_display(this.id);" {% endif %} id={{ order.name }}>
		<svg role="img" class="svg--large svg--white" title="{{ order.title }}"><use xlink:href="/static/img/sprite.svg#{{ order.name }}"></use></svg>
		<h2>{{ order.title }}</h2>
	</li>
{% endfor %}
</ul>

{% endblock content %}
