{% extends "template.html" %}

{% block title %}{{ player.name }}{% endblock %}
{% block h1 %}{{ player.name }}{% endblock %}

{% block content %}
<h1>{{ player.name }}</h1>

<h2>Vote à Detroit<sup>INC</sup></h2>
<img title="{{ player.get_last_dinc_vote.get_coalition_display }}" src="{{ STATIC_URL }}dinc/{{ player.get_last_dinc_coalition }}.png" />

<h2>Informations sur le tour</h2>
<span class="ic-value">{{ player.influence.level }}</span>
<span class="money-value">250k</span>
<span class="share-amount">{{ qty_shares }}</span>

<h2>Parts dans les corporations</h2>
{% for corporation in corporations %}
<span class="corporation">
	<a href="{% url "website.views.data.corporation" game_id=game.pk corporation_slug=corporation.base_corporation.slug %}">
		<img title="{{ corporation.base_corporation.name }}" src="{{ STATIC_URL }}corporations/{{ corporation.base_corporation.slug }}.png" />
		<span class="corporation-value">{{ corporation.qty_share }}</span>
	</a>
</span>
{% endfor %}

Background : <strong>{{ player.background }}</strong>

<h2>Mon histoire</h2>
<p>{{ rp }}</p>

{% endblock content %}
