{% extends "template.html" %}

{% block title %}{{ player.name }}{% endblock %}

{% block content %}

<div class="player-content">
<h1><img title="" src="/static/img/players/01.png" width="90" height="90" /><span>{{ player.name }}</span></h1>

<h2 class="h2-player-dinc">Vote à Detroit <sup>INC</sup></h2>
<div class="dinc-player-content">
<img class"dinc-player" title="{{ player.get_last_dinc_vote.get_coalition_display }}" src="{{ STATIC_URL }}img/detroit-inc/{{ player.get_last_dinc_coalition|lower }}.png" />
</div>

<h2>Informations sur le tour</h2>
<div class="turn-info-content">
	<span class="ic-value">{{ player.influence.level }}</span>
	<span class="money-value">250k</span>
	<span class="share-amount">{{ qty_shares }}</span>
</div>

<h2>Parts dans les corporations</h2>
<ul class="corporation">
{% for corporation in corporations %}
<li><a href="{% url "website.views.data.corporation" game_id=game.pk corporation_slug=corporation.base_corporation.slug %}" title="Parts dans {{ corporation.base_corporation.name }}"><span>{{ corporation.qty_share }}</span></a></li>
{% endfor %}
</ul>

Background : <strong>{{ player_profile.background }}</strong>

<h2>Mon histoire</h2>
<div class="player-story">
	<p>{{ rp }}</p>
</div>
</div>
{% endblock content %}
