{% extends "template.html" %}

{% block title %}Joueurs{% endblock %}
{% block h1 %}Joueurs{% endblock %}

{% block content %}

<table class="prop_table">
<thead>
<tr>
	<th></th>
	<th>Joueur</th>
	<th>IC</th>
	<th>Parts</th>
	<th>Detroit, Inc.</th>
	<th>Citoyen</th>
</tr>
</thead>
<tbody>
{% for player in players %}
<tr>
	<td><a href="{% url "website.views.data.player" game_id=game.pk player_id=player.id %}">{{ player.name }}</a></td>
	<td>{{ player.user.username }}</td>
	<td class="important">{{ player.influence.level }}</td>
	<td>{{ player.share__count }}</td>
	<td title="{{ player.get_last_dinc_vote.get_coalition_display }}">{{ player.get_last_dinc_coalition }}</td>
	<td>{{ player.citizenship.corporation.base_corporation.slug|title }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock content %}
