{% extends "template.html" %}

{% block title %}Joueurs{% endblock %}
{% block h1 %}Joueurs{% endblock %}

{% block content %}


<table class="prop_table">
<thead>
<tr>
	<th></th>
	<th>IC</th>
	<th>Ligne</th>
	<th>Citoyen</th>
</tr>
</thead>
<tbody>
{% for player in players %}
<tr>
			<td><a href="{% url "website.views.datas.player" game_id=1 player_id=player.id %}">{{ player.name }}</a></td>
			<td class="important">{{ player.influence.level }}</td>
			<td> TBD </td>
			<td>{{ player.citizenship.corporation.base_corporation.slug|title }}</td>
</tr>
{% endfor %}
</tbody>
</table>


<h2>Parts possédées</h2>
<table class="prop_table slanted_head">
<thead>
<tr>
	<th></th>
	{% for corporation in corporations %}
	<th><div><span>{{ corporation.base_corporation.slug|title }}</span></div></th>
	{% endfor %}
</tr>
</thead>
<tbody>
{% for player_shares in shares %}
<tr>
	<td><a href="{% url "website.views.datas.player" game_id=1 player_id=player_shares.player.id %}">{{ player_shares.player.name }}</a></td>
	{% for share in player_shares.shares %}
		{% if player_shares.citizenship_index == forloop.counter0 %}
			<td><strong>{{ share }}</strong></td>
		{% elif share != 0 %}
			<td>{{ share }}</td>
		{% else %}
			<td></td>
		{% endif %}
	{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
