{% extends "template.html" %}

{% block title %}Parts possédées{% endblock %}
{% block h1 %}Parts possédées{% endblock %}

{% block content %}
{% include "_pager.html" with base_url="website.views.data.shares" base_title="Consulter les parts au tour" %}

<table class="prop_table slanted_head">
<thead>
<tr>
	<th></th>
	{% for total in totals %}
	<!-- should be replaced with the player's image when -->
	<th><div><span><a href="{% url "website.views.data.player" game_id=game.pk player_id=total.player.id %}">{{ total.player.name|title }}</a></span></div></th>
	{% endfor %}
</tr>
</thead>
<tfoot>
<tr>
	<td>Total (sigma)</td>
	{% for total in totals %}
	<td><div>{{ total.total }}</div></td>
	{% endfor %}
</tr>
</tfoot>
<tbody>
{% for corporation_shares in corporations_shares %}
<tr>
	<td><a href="{% url "website.views.data.corporation" game_id=game.pk corporation_slug=corporation_shares.corporation.base_corporation.slug %}">{{ corporation_shares.corporation.base_corporation.slug }}</a></td>
	{% for share in corporation_shares.shares %}
	<td>
	{% if share.count != 0 %}
	{% if share.top %}
		<strong title="Actionnaire majoritaire">{{ share.count }}</strong>
	{% else %}
		{{ share.count }}
	{% endif %}
	{% endif %}
	</td>
	{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
