{% extends "template.html" %}

{% block title %}Parts possédées{% endblock %}
{% block h1 %}Parts possédées{% endblock %}

{% block content %}
{% include "_pager.html" with base_url="website.views.data.shares" base_title="Consulter les parts au tour" %}

<table class="prop_table slanted_head">
<thead>
<tr>
	<th></th>
	{% for corporation in corporations %}
	<th><div><span>{{ corporation.base_corporation.slug|title }}</span></div></th>
	{% endfor %}
</tr>
</thead>
<tbody>
{% for player_shares in shares %}
<tr>
	<td><a href="{% url "website.views.data.player" game_id=game.pk player_id=player_shares.player.id %}">{{ player_shares.player.name }}</a></td>
	{% for share in player_shares.shares %}
		{% if player_shares.citizenship_index == forloop.counter0 %}
			<td class="important">
		{% else %}
			<td>
		{% endif %}
		{% if share.count != 0 %}
		{% if share.top %}
			<strong title="Actionnaire majoritaire">{{ share.count }}</strong>
		{% else %}
			{{ share.count }}
		{% endif %}
		{% endif %}
		</td>
	{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
