{% extends "template.html" %}

{% block title %}Parts{% endblock %}
{% block h1 %}Parts{% endblock %}

{% block content %}
<table class="table shares-table">
<thead>
<tr>
	<th></th>
	{% for player in players %}
	<!-- should be replaced with the player's image when -->
	<th>
		<a href="{% url 'website.views.data.player' game_id=game.id player_id=player.id %}" title="{{ player.name|title }}"><img src="/static/img/players/{% cycle '01' '02' '03' %}.png" /></a>
	</th>
	{% endfor %}
</tr>
</thead>

<tbody>
{% for corporation_shares in corporations_shares %}
<tr>
	<td><a data-hover="{{ corporation_shares.corporation.base_corporation.slug }}" href="{% url "website.views.data.corporation" game_id=game.pk corporation_slug=corporation_shares.corporation.base_corporation.slug %}">{{ corporation_shares.corporation.base_corporation.slug }}</a></td>
	{% for share in corporation_shares.shares %}

	{% if share.top %}
	<td class="main-shareholder">
	{% else %}
	<td>
	{% endif %}
	{% if share.count != 0 %}
	{% if share.top %}
		<strong title="Actionnaire majoritaire">{{ share.count }}</strong>
	{% else %}
		{{ share.count }}
	{% endif %}
	{% endif %}
	</td>
	{% endfor %}
</tr>
{% endfor %}
</tbody>

<tfoot>
<tr>
	<td>Total (Σ)</td>
	{% for total in totals %}
	<td>{{ total }}</td>
	{% endfor %}
</tr>
</tfoot>
</table>
{% endblock content %}
