{% extends "template.html" %}
{% load get_item %}

{% block title %}Wallstreet{% endblock %}
{% block h1 %}Wallstreet{% endblock %}

{% block content %}

{% for entry in ranking %}
<section class="corporation-row">
	<h2>
		<span class="corporation-index">{{ forloop.counter }}</span>
		<a href="{% url "website.views.data.corporation" game_id=game.pk corporation_slug=entry.corporation.base_corporation.slug %}" class="corporation-name">{{ entry.corporation.base_corporation.name }}</a>
		{% if entry.corporation.crash_turn == turn %}
			CRASHED
		{% endif %}
		<span class="current-assets">{{ entry.assets }}
			<span class="assets-delta{{ entry.delta|yesno:" positive, negative,"}}">
			{{ entry.delta|default:"0000" }}
			</span>
		</span>
	</h2>

	{% include "logs/corporation.html" with events=entry.events %}

	<div class="corporation-markets">
	{% for corporation_market in entry.corporation_market %}
		<div class="corporation-market">
			<svg role="img" class="svg--small svg--{% if corporation_market.bubble_value == -1 %}red{% elif corporation_market.bubble_value == 1 %}green{% else %}white{% endif %}" title="{{ corporation_market.market.name|capfirst }}"><use xlink:href="/static/img/sprite.svg#{{ corporation_market.market.name|lower }}"></use></svg>
			<span class="corporation-market-value">{{ corporation_market.value }} ( {{ corporation_market.bubble_value }} )</span>
		</div>
	{% endfor %}
	</div>
</section>
{% endfor %}

{% endblock content %}

{% block scripts %}
{% regroup assets_history by turn as assets_history_turn %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
	var data = google.visualization.arrayToDataTable([
	['Tour',
		{% for c in sorted_corporations %}
			'{{c.base_corporation.name}}',
		{% endfor %}
	],
	{% for assets in assets_history_turn %}
	['Tour #{{ assets.grouper }}',
		{% for a in assets.list %}
			{{a.assets}},
		{% endfor %}
	],
	{% endfor %}
	]);

	var options = {
		title: 'Wallstreet',
		backgroundColor: 'transparent',
		pointSize: 4,
		curveType: 'function',
	};

	var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
	chart.draw(data, options);
}

window.onresize = drawChart;
</script>
{% endblock scripts %}


