{% extends "template.html" %}

{% block title %}Wallstreet{% endblock %}
{% block h1 %}Wallstreet{% endblock %}

{% block content %}
<table class="prop_table">
<thead>
<tr>
  <th></th>
  <th>Actif</th>
  <th>Prec.</th>
</tr>
</thead>
<tbody>
{% for corporation in corporations %}
<tr>
  <td><a href="{% url "website.views.datas.corporation" game_id=1 corporation_slug=corporation.base_corporation_slug %}">{{ corporation.base_corporation.slug|title }}</a></td>
  <td class="important"><strong style="color:{% if corporation.assets > corporation.last_assets %}green{% elif corporation.assets < corporation.last_assets %}red{% endif %}">{{ corporation.assets }}</strong></td>
  <td>{{ corporation.last_assets }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock content %}


