{% load staticfiles %}
{% load compress %}
{% load display_pod %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	{% compress css %}
	<link rel="stylesheet" type="text/less" media="all" href="{% static 'style.less' %}" />
	{% endcompress %}
	<link rel="icon" href="{% block favicon %}{{ STATIC_URL }}favicon.gif{% endblock %}" type="image/x-icon" />

	{% block head %}{% endblock %}
	<title>{% block title %}Corporate game{% endblock %}</title>
	<link href='//fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="grid-container main-container">
	<section class="content-container">
		<ul class="menu">
			<li><a href="{% url 'website.views.orders.orders' game_id='1' %}">Ordres</a></li>
			<li><a href="{% url 'website.views.data.wallstreet' game_id='1' %}">Wallstreet</a></li>
			<li><a class="active" href="{% url 'website.views.data.shares' game_id='1' %}">Parts</a></li>
			<li class="rules"><a href="{% url 'docs.views.index' page='' %}" title="Règles du jeu">Règles</a></li>
		</ul>

		<article class="content">
			{% block content %}{% endblock %}
		</article>
	</section>

	<aside class="sidebar" role="sidebar">
		<div class="content-sidebar">
		<div class="current-player">
			<div class="player">
				<span class="player-avatar">
					<img title="Avatar de Golan Trévize" src="/static/img/players/01.png" />
				</span>
				<span class="player-name">Golan Trévize</span>
			</div>
			<span class="icon-messaging icon-medium icon-red">
				<span class="messaging-count">2</span>
			</span>
			<span class="icon-logout icon-medium">
			</span>
		</div>

		{% for pod in pods %}
			{% display_pod pod %}
		{% endfor %}

	</aside>
</div>
</body>
</html>
