<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Audiowide|Syncopate' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
	<link rel="icon" href="/{{ STATIC_URL }}favicon.gif" type="image/x-icon" />

	{% block head %}{% endblock %}
	<title>{% block title %}Corporate game{% endblock %}</title>
</head>

<body>
	<div id="wrapper">
		<div id="sidebar">
			<ul class="general">
				<li><a href="{% url 'docs.views.index' page='' %}">docs</a></li>
			{% if not user.is_authenticated %}
				<li><a href="{% url 'django.contrib.auth.views.login' %}">login</a></li>
			{% endif %}
			</ul>

			{% if user.is_authenticated %}
			<ul class="game">
				<li><a href="{% url 'website.views.newsfeeds' game_id=1 %}">newsfeeds</a></li>
				<li><a href="{% url 'website.views.orders' game_id=1 %}">ordres</a></li>
				<li><a href="{% url 'website.views.wallstreet' game_id=1 %}">wall street</a></li>
				<li><a href="{% url 'website.views.corporations' game_id=1 %}">corpos</a></li>
				<li><a href="{% url 'website.views.players' game_id=1 %}">joueurs</a></li>
				<li><a href="#">commlink</a></li>
			</ul>
			{% endif %}
		</div>


		<div id="content">
			<h1>{% block h1 %}Corporate game{% endblock %}</h1>

			{% block content %}{% endblock %}
		</div>

		<div id="end">
			{% block end %}<a href="#">&uarr;</a>{% endblock %}
		</div>
	</div>
</body>
</html>
