<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Audiowide|Syncopate' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ STATIC_URL }}/style.css" />
	<link rel="icon" href="/static/favicon.gif" type="image/x-icon" />

	{% block head %}{% endblock %}
	<title>{% block title %}Corporate game{% endblock %}</title>
</head>

<body>
	<div id="wrapper">
		<div id="sidebar">
			<ul>
				<li><a href="{% url 'docs.views.index' page='' %}">docs</a></li>

				{% if not user.is_authenticated %}
				<li><a href="{% url 'django.contrib.auth.views.login' %}">login</a></li>
				{% else %}
				<li><a href="/corpos/">corpos</a></li>
				<li><a href="/joueurs/">joueurs</a></li>
				{% endif %}
			</ul>
		</div>


		<div id="content">
			<h1>{% block h1 %}Corporate game{% endblock %}</h1>

			{% block content %}{% endblock %}
		</div>

		<div id="end">
			{% block end %}<a href="#">&uarr;</a>{% endblock %}
		</div>
	</div>
</body>
</html>
